<h1>ICE Fellowships</h1>

<br/>

<div class="row">
  <div class="col-lg-4">
    <h2>Apply</h2>
    <p>Apply to become an ICE fellow</p>
    <p><a class="btn btn-link" href="#" role="button">What's involved with becoming a fellow?</a></p>
    <p><a class="btn btn-primary" [routerLink]='["/fellow-application-form"]' role="button">Apply now</a></p>
    <p><a class="btn btn-primary" href="#" role="button">Your application status</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Sponsor</h2>
    <p>You have been asked by Rowena Cowdery to sponsor her application to become an ICE fellow</p>
    <p><a class="btn btn-link" href="#" role="button">Sponsor Rowena Cowdery</a></p>
    <p><a class="btn btn-link" href="#" role="button">What's involved with the sponsorship?</a></p>
    <p><a class="btn btn-link" href="#" role="button">See all my sponsorships</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Assess</h2>
    <p>Assess others to see if they can become an ICE fellow</p>
    <p><a class="btn btn-primary" href="#" role="button">Assessment dashboard</a></p>
  </div>
</div>

